In [4]:
import pandas

In [17]:
df1=pandas.read_json("supermarkets.json")
df1.set_index("ID")

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [18]:
df1.shape

(6, 7)

In [26]:
df2=pandas.read_csv("sample.csv")
df2

       1115.1
0     1126.42
1     1126.20
2     1127.78
3     1126.48
4     1120.59
5     1118.02
6     1114.05
7     1102.47
8     1096.08
9     1109.18
10    1107.93
11    1114.11
12    1106.41
13    1102.35
14    1095.95
15    1091.94
16    1103.25
17    1105.98
18    1099.92
19    1109.24
20    1108.86
21    1095.63
22    1091.49
23    1110.63
24    1105.65
25    1106.24
26    1091.38
27    1094.90
28    1109.80
29    1110.32
...       ...
2484  1389.94
2485  1387.12
2486  1416.83
2487  1411.71
2488  1441.72
2489  1424.24
2490  1424.37
2491  1424.97
2492  1409.12
2493  1409.28
2494  1394.46
2495  1360.16
2496  1398.56
2497  1404.09
2498  1410.03
2499  1401.53
2500  1441.36
2501  1445.57
2502  1455.90
2503  1455.14
2504  1465.15
2505  1449.68
2506  1432.25
2507  1438.56
2508  1457.60
2509  1441.47
2510  1403.45
2511  1402.11
2512  1399.42
2513  1455.22

[2514 rows x 1 columns]

In [31]:
df3=pandas.read_excel("hotels.xlsx",sheet_name=0)
df3

,AUGUST,SEPTEMBER,OCTOBER,NOVEMBER,DECEMBER
Volume sold in airline tickets,15400,11002,11034,11158,6301
Total No. of passengers that booked airline tickets in the month.,9103,9038,9394,9490,6355
Volume sold in hotel room nights (HNN.com),259,271,263,988,237
# of bookings/ guests for volume sold (completed orders),133,130,115,133,108
# of new guests (HNN.com),29,15,17,18,12
# of repeat guests (HNN.com),22,20,20,16,18
# of Corporate Clients (HNN.com),6,5,3,7,3
Volume of room nights by new guests,62,39,48,53,35
Volume of room nights by repeat guests,133,160,124,151,120
Volume of room nights by Corporate Clients,64,72,91,784,148
# of reps that acquired corporate clients,3,6,6,6,6
Total GMV for all guests (HNN.com),11076443,6977559,8974454,23275089,8766155
Total GMV for corporate client (HNN.com),7785710,4651759,4875388,20401663,6183005
Total GMV for new guests (HNN.com),1680275,574800,2549116,1218568,494750
Total GMV for return guests (HNN.com),1610458,1751000,1549950,1654858,2088400
Av GMV for all guests (HNN.com),194324,174439,224361,567685,265641
AV GMV for new guests (HNN.com),57940.5,38320,149948,67698.2,41229.2
AV GMV for repeat guests (HNN.com),73202.6,87550,77497.5,103429,116022
Total revenue per all guests(HNN.com),1.32146e+06,899638,1.25058e+06,4.47685e+06,1329397
Total revenue per new guests,219342,79520,202942,170182,71050
Total revenue per repeat guests,173324,196000,178592,186874,291960
Total revenue per Corporate clients,928794,624118,869049,4.1198e+06,966387
AV revenue per new guests,7563.53,5301.33,11937.8,9454.54,5920.83
AV revenue per repeat guests,7878.35,9800,8929.62,11679.6,16220
NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN
TOTAL AIRLINES VS TOTAL HOTELS GMV & REVS,2015-08-01 00:00:00,NaN,2016-08-01 00:00:00,NaN,NaN
NaN,AIRLINE,HOTELS,AIRLINE,HOTEL (ALL CHANNELS),HNN.com
GMV,3.35308e+08,5020319,1.12793e+09,11533951,11076443
REV,1.00592e+07,323993,3.38379e+07,1.38963e+06,1.32146e+06
NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN
TOTAL AIRLINES VS TOTAL HOTELS GMV & REVS,2015-09-01 00:00:00,NaN,2016-09-01 00:00:00,NaN,NaN
NaN,AIRLINE,HOTELS,AIRLINE,HOTEL (ALL CHANNELS),HNN.com
GMV,2.80933e+08,3579286,7.68946e+08,8203469,6977559
REV,8.42799e+06,387542,2.30684e+07,1.05535e+06,899638
NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN
TOTAL AIRLINES VS TOTAL HOTELS GMV & REVS,2015-10-01 00:00:00,NaN,2016-10-01 00:00:00,NaN,NaN
NaN,AIRLINE,HOTELS,AIRLINE,HOTEL (ALL CHANNELS),HNN.com
GMV,2.87948e+08,2626405,5.40063e+08,10130653,8974454
REV,8.63845e+06,363060,1.62019e+07,1.39557e+06,1.25058e+06
NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN
TOTAL AIRLINES VS TOTAL HOTELS GMV & REVS,2015-11-01 00:00:00,NaN,2016-11-01 00:00:00,NaN,NaN
NaN,AIRLINE,HOTELS,AIRLINE,HOTEL (ALL CHANNELS),HNN.com
GMV,329708274,6295346,5.08563e+08,23481089,8974454
REV,9.89125e+06,656233,1.52569e+07,4.50968e+06,1.25058e+06
NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN
TOTAL AIRLINES VS TOTAL HOTELS GMV & REVS,2015-12-01 00:00:00,NaN,2016-12-01 00:00:00,NaN,NaN
NaN,AIRLINE,HOTELS,AIRLINE,HOTEL (ALL CHANNELS),HNN.com
GMV,329708274,6295346,3.61815e+08,9135865,8766155
REV,9.89125e+06,656233,1.08395e+07,1.36574e+06,1329397